/* $primary     : #282C34 ; */
* {
  font-family: Monaco;
  color: #fdf6e3;
  font-size: 11px; }

ul {
  list-style-type: none; }

ul.obj-continue:after {
  content: "},{";
  margin: 10px 0px;
  color: #98C379;
  font-size: 0.75em; }

#wrapper, html, body {
  background-color: #839496; }

#wrapper {
  padding: 10px;
  max-width: 800px;
  margin: auto; }

.obj-start:after {
  content: "{";
  margin: 10px;
  color: #98C379; }

.obj-end:after {
  content: "}";
  margin: 10px;
  color: #98C379;
  font-size: 9px; }

.arr-obj-end:after {
  content: "} ]";
  margin: 10px 0px;
  color: #98C379;
  font-size: 9px; }

.array:before {
  content: '[';
  margin: 0px;
  color: #98C379; }

.array:after {
  content: ']';
  margin: 0;
  color: #98C379; }

.obj:before {
  content: '{';
  margin: 10px;
  color: #98C379; }

.obj:after {
  content: "}";
  margin: 10px;
  color: #98C379;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH"; }

.array-start:after {
  content: '[';
  margin: 5px;
  color: #98C379; }

.array-end:after {
  content: ']';
  margin: 5px;
  color: #98C379; }

.array-obj-start:after {
  content: '[ { ';
  margin: 5px;
  color: #98C379; }

.array-obj-end:after {
  content: ' } ] ';
  margin: 5px;
  color: #98C379; }

.array-obj-end:last-child:after {
  content: "kjaf" !important; }

.quotes:before {
  content: "\" ";
  color: #657b83; }

.quotes:after {
  content: " \",";
  color: #657b83; }

.quotes:last-child:after {
  content: " \""; }

#skills {
  margin: 0px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: row wrap;
      flex-wrap: row wrap; }

.pad-left {
  padding-left: 20px; }

#technologies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 295px;
  background-color: #002b36;
  border-radius: 0.25em;
  padding: 10px;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

#technologies h3 {
  font-size: 0.75em; }

#technologies h4 {
  font-size: 0.75em;
  text-transform: lowercase;
  margin: 0px;
  padding: 0px; }

#technologies ul {
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  line-height: 20px; }
  #technologies ul:after {
    content: "\] , ";
    color: #859900; }
  #technologies ul:before {
    content: "\[ ";
    color: #859900; }
  #technologies ul li {
    font-size: 9px;
    padding: 0px 3.33333px;
    color: #fdf6e3; }
    #technologies ul li:before {
      content: "\" ";
      color: #657b83; }
    #technologies ul li:after {
      content: " \",";
      color: #657b83; }
    #technologies ul li:last-child:after {
      content: " \""; }

ul.last-arr:after {
  content: "\]" !important; }

#education {
  -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
  background-color: #002b36;
  color: #002b36;
  border-radius: 0.25em;
  padding: 10px; }
  #education h3, #education h4, #education h5, #education h6 {
    margin: 10px 0px; }
  #education h3 {
    font-size: 0.75em; }
  #education h4 {
    color: #268bd2;
    font-size: 1em;
    text-transform: lowercase; }
  #education h5 {
    color: #d33682; }
  #education ul {
    padding: 0px;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    #education ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #education ul li span.key {
        font-weight: bold;
        -ms-flex-preferred-size: 15%;
            flex-basis: 15%; }
      #education ul li span.colon {
        -ms-flex-preferred-size: 5%;
            flex-basis: 5%; }
      #education ul li span.val {
        -ms-flex-preferred-size: 80%;
            flex-basis: 80%; }
    #education ul li.course-work {
      margin-top: 10px; }

h3 {
  color: #98C379; }

h4 {
  color: #CF6572; }

.curly {
  color: #98C379; }

#heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #002b36;
  padding: 10px;
  border-radius: 0.25em; }

#contact-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  #contact-card ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #contact-card ul li span.key {
      font-weight: bold;
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%; }
    #contact-card ul li span.colon {
      -ms-flex-preferred-size: 5%;
          flex-basis: 5%; }
    #contact-card ul li span.val {
      -ms-flex-preferred-size: 80%;
          flex-basis: 80%; }

#contact-card h1, #contact-card h2, #contact-card h3 {
  text-indent: 1em; }

.colon {
  color: #98C379; }
  .colon:after {
    content: " : ";
    color: #eee8d5; }

.key {
  color: #CF6572; }

.key, .colon {
  font-size: 0.75em; }

.val:before {
  content: "\" ";
  color: #657b83; }

.val:after {
  content: " \",";
  color: #657b83; }

.val:last-child:after {
  content: " \""; }

#contact-card {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin: auto;
  padding: 10px; }

#blurb {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  margin: auto;
  height: 100%;
  text-align: justify; }
  #blurb:before {
    content: "\"\"\"";
    color: #98C379; }
  #blurb:after {
    content: "\"\"\"";
    color: #98C379; }
  #blurb p {
    text-indent: 1em;
    padding: 0em 1em;
    font-size: 0.75em;
    line-height: 1.6; }

#work-experience-container {
  margin-top: 10px;
  background-color: #002b36;
  border-radius: 0.25em;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row; }
  #work-experience-container h2 {
    width: 100%; }
  #work-experience-container .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 10px; }
    #work-experience-container .heading h2, #work-experience-container .heading h3, #work-experience-container .heading h4 {
      margin: 0px;
      padding: 3.33333px; }
      #work-experience-container .heading h2:before, #work-experience-container .heading h3:before, #work-experience-container .heading h4:before {
        content: "\" ";
        color: #657b83; }
      #work-experience-container .heading h2:after, #work-experience-container .heading h3:after, #work-experience-container .heading h4:after {
        content: " \",";
        color: #657b83; }
      #work-experience-container .heading h2:last-child:after, #work-experience-container .heading h3:last-child:after, #work-experience-container .heading h4:last-child:after {
        content: " \""; }
  #work-experience-container ul.experiences {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    line-height: 20px; }
    #work-experience-container ul.experiences li {
      padding-left: 2em;
      text-indent: -1em;
      color: #fdf6e3; }
      #work-experience-container ul.experiences li:before {
        content: "\" ";
        color: #657b83; }
      #work-experience-container ul.experiences li:after {
        content: " \",";
        color: #657b83; }
      #work-experience-container ul.experiences li:last-child:after {
        content: " \""; }
  #work-experience-container ul.skills {
    margin: 0px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    font-size: 0.75em;
    line-height: 20px; }
    #work-experience-container ul.skills li {
      padding: 0px;
      font-size: 9px;
      color: #fdf6e3; }
      #work-experience-container ul.skills li:before {
        content: "\" ";
        color: #657b83; }
      #work-experience-container ul.skills li:after {
        content: " \",";
        color: #657b83; }
      #work-experience-container ul.skills li:last-child:after {
        content: " \""; }
    #work-experience-container ul.skills li:first-child {
      padding-left: 5px; }
    #work-experience-container ul.skills li:last-child {
      padding-right: 5px; }
